<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.augmentum.oes.dao.QuestionDao">
  <resultMap id="BaseResultMap" type="com.augmentum.oes.model.Question">
    <id column="id" property="id" jdbcType="INTEGER" /> 
    <result column="question_name" property="questionName" jdbcType="VARCHAR" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="correct_option" property="correctOption" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- <resultMap id="ResultOfInteger" type="java.lang.Integer">
    <result column="count(*)" property="count(*)" jdbcType="INTEGER" />
  </resultMap> -->
  
  <sql id="Base_Column_List">
    id, question_name, option_a, option_b, option_c, option_d, correct_option, status, create_by, create_time, update_by, update_time
  </sql>
  
  <!-- <insert id="create" parameterType="com.augmentum.oes.model.Question">
    INSERT INTO question(question_name, option_a, option_b, option_c, option_d, correct_option, status, create_by, create_time, update_by, update_time) VALUES (
      #{question_name}, 
      #{option_a},
      #{option_b}, 
      #{option_c},
      #{option_d}, 
      #{correct_option},
      #{status}, 
      #{create_by},
      #{create_time}, 
      #{update_by},
      #{update_time}
    )
  </insert> -->
  
  <!-- <update id="edit" parameterType="com.augmentum.oes.model.Question">
    UPDATE question SET 
      question_name = #{question_name}, 
      option_a = #{option_a}, 
      option_b = #{option_b}, 
      option_c = #{option_c}, 
      option_d = #{option_d}, 
      correct_option = #{correct_option}, 
      update_by = #{update_by}, 
      update_time = #{update_time} 
    WHERE 
      id = #{id}
  </update> -->
  
  <update id="changeStatusById">
    UPDATE question SET 
      status = 0, 
      update_by = #{updateBy}, 
      update_time = #{updateTime} 
    WHERE id in
      <foreach item="id" collection="ids" open="(" separator="," close=")">
        #{id, jdbcType=INTEGER}
      </foreach>
  </update>
  
  <!-- <select id="paginationFind" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
      <include refid="Base_Column_List" />
    FROM question WHERE status = 1 AND question_name LIKE 
      '%#{search}%' 
    ORDER BY id 
      #{orderBy} 
    LIMIT 
      #{pageCurrent}, #{recordRange}
  </select> -->
  
  <select id="findQuestionCount" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
      count(*)
    FROM question WHERE status = 1 AND question_name LIKE 
     #{search}
  </select>
  
  <!-- <select id="findLastQuestionId" resultType="java.lang.Integer">
    SELECT * FROM question ORDER BY id DESC LIMIT 0, 1
  </select> -->
  
  <!-- <select id="findQuestionById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * FROM question WHERE id = #{id} 
  </select> -->
</mapper>