<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:hdp="http://www.springframework.org/schema/hadoop" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
             xsi:schemaLocation="http://www.springframework.org/schema/beans 
                                 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
                                 http://www.springframework.org/schema/aop 
                                 http://www.springframework.org/schema/aop/spring-aop.xsd 
                                 http://www.springframework.org/schema/cache 
                                 http://www.springframework.org/schema/cache/spring-cache.xsd 
                                 http://www.springframework.org/schema/context 
                                 http://www.springframework.org/schema/context/spring-context-3.1.xsd 
                                 http://www.springframework.org/schema/mvc 
                                 http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd 
                                 http://www.springframework.org/schema/util 
                                 http://www.springframework.org/schema/util/spring-util-3.1.xsd 
                                 http://www.springframework.org/schema/tx 
                                 http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:app.properties</value>
      </list>
    </property>
  </bean>
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxPoolSize" value="20" />
        <property name="minPoolSize" value="5" />
        <property name="acquireIncrement" value="3" />
        <property name="initialPoolSize" value="5" />
  </bean>
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
    <property name="dataSource">
      <ref bean="dataSource" />
    </property>
  </bean> 
  <bean id="questionDaoImpl" class="com.augmentum.oes.dao.impl.QuestionDaoImpl" scope="singleton">
    <property name="jdbcTemplate" ref="jdbcTemplate" />
  </bean>
  <bean id="userDaoImpl" class="com.augmentum.oes.dao.impl.UserDaoImpl" scope="singleton">
    <property name="jdbcTemplate" ref="jdbcTemplate" />
  </bean>
  
  

  
<!--   
  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="typeAliasesPackage" value="com.augmentum.oes.model" />
    <property name="mapperLocations" value="classpath:com/augmentum/oes/mapper/*Mapper.xml" />
  </bean>
  <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg index="0" ref="sqlSessionFactory" />
  </bean>
  <bean id="baseDao" abstract="true">
    <property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
  </bean>
  <bean id="questionDaoImpl" class="com.augmentum.oes.dao.impl.QuestionDaoImpl" parent="baseDao" />
  <bean id="userDaoImpl" class="com.augmentum.oes.dao.impl.UserDaoImpl" parent="baseDao" />
  
  
   -->
  
  
  
  
  
  
  
  
  
  <bean id="logMethodTimeAdvice" class="com.augmentum.oes.common.LogMethodTime" />
  <aop:config>
    <aop:pointcut id="pc" expression="execution(* com.augmentum.oes.service..*.*(..))" />
    <aop:advisor pointcut-ref="pc" advice-ref="logMethodTimeAdvice" order="1" />
  </aop:config>
  <bean id="questionServiceImpl" class="com.augmentum.oes.service.impl.QuestionServiceImpl" scope="singleton">
    <property name="questionDao" ref="questionDaoImpl" />
  </bean>
  <bean id="userServiceImpl" class="com.augmentum.oes.service.impl.UserServiceImpl" scope="singleton">
    <property name="userDao" ref="userDaoImpl" />
  </bean>
  <bean id="questionController" class="com.augmentum.oes.controller.QuestionController" scope="singleton">
    <property name="questionService" ref="questionServiceImpl" />
  </bean>
  <bean id="userController" class="com.augmentum.oes.controller.UserController" scope="singleton">
    <property name="userService" ref="userServiceImpl" />
  </bean>
  <bean class="com.augmentum.oes.util.SpringUtil" />
</beans>